.pageError{
    width: 100%;
    height: calc( 100vh - 120px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:15px;

}
.pageEror_ContainIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageError_Icon{
    width: 100px !important;
    height: 100px !important;
    margin: 0px;
}
@media all and (max-width:600px){
    .pageError_Icon{
        width: 60px !important;
        height: 60px !important;
        margin: 0px;
    }
}